<h2>Add a Category</h2>
<a href="/category" class="btn btn-primary">back to all page</a>
<br><br>
<form method="POST" action="/category/add-category-store" >
    <div class="form-group">
        <label for="">title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
    </div>
    <button type="submit" class="btn btn-primary mt-4" >Thêm Page</button>

</form>
